@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
p{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    
}
a{
    cursor: pointer;
    color: white;
}
img{ 
    width: 230px;
    height: 340px;
}
.posters{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap:150px;
}
table{
    color: white;
    text-align: left; 
}