<div class="main">

<div class="poster">

<img [src]="poster"/>
<div class="change">
  <a (click)="clickadd(-1)"><img id="left" src="/assets/left-arrow.png"/></a>
  <a  (click)="clickadd(1)"><img id="right" src="/assets/right-arrow.png"/></a>
  <p>{{series}} Season {{seasons}}</p>
</div>
</div>

  <div class="table">
    <table  >
      <tr>
        <th style="width:20vw">Number</th>
        <th style="width:70vw">Title</th>
        <th style="width:40vw">Air Date</th>
      </tr>
      <ng-container *ngFor="let episode of episodes | async">
      <tr class="border_bottom" *ngIf='episode.season === seasons && episode.series === series'  >
        <td>{{episode.episode}}</td>
        <td>{{episode.title}}</td>
        <td>{{episode.air_date}}</td>
      </tr>
  </ng-container>
  </table>

  </div>

</div>
